/* // Reds
$light-red: #ff3333;
$red: #FF0000;
$dark-red: #cc0000;
$darker-red: #800000;
$darkest-red: #330000;

// Blues
$light-blue: #4d4dff;
$blue: #0000FF;
$dark-blue: #0000b3;
$darker-blue:  #000066;
$darkest-blue: #00001a;

// "Whites"
$white1: #F2D7EE; (pinkish)
$white2: #EFE9E7; (greyish)
$white3: #ffffcc; (yellowy)
$white4: #e6f0ff; (blueish)

// Grey
$light-grey: #BEBBBB; 
$mid-grey: #8c8c8c;
$dark-grey: #333333;

// Almost Black
$blue-black: #00001a;
$red-black: #1a0000;

*/



/* Decided to switch back to CSS because of trouble
bundling. Will user this page simply as reference */